
/* reseat start here  */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-weight: 400;
}
:root{
    --color-dark-1:#3A3A3A;
    --color-dark-2:#18191F;
 

}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "poppins",serif;
    background-color: #AAAAAA;
}

body{
    background-color: #fff;
    margin: auto;
    width: 100rem;
    max-width: 100%;
    box-shadow: .1rem .1rem .1rem #4c4c4c,-.1rem 0rem .1rem #4c4c4c;
}


.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

.btn{
    background-color: #E02C6D;
    padding:  10PX 24px;
    border-radius: 2.9rem;
    border: none;
}
img{
    width: 100%;
}
main{
    margin: 1rem 6rem;
}
  
/* reseat end here  */
/* nav style start here  */
header{
    margin: 0 5vw;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__title{
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-dark-1);
}
.nav__ul{
    display: flex;
    justify-content: center;
    padding: 1.5rem 2rem;
    align-items: center;
    gap: 4rem;
}
:hover.nav__ul{
    border: .1px solid;
    border-radius: 6rem;
}
.logo{
    font-size: 2.5rem;
}
.nav__link{
    color: var(--color-dark-1);
    font-weight: 600;
    font-size: 1rem;
}
/* nav style end here  */
/* banner style start here  */
.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.banner__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.banner__title{
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--color-dark-1);
}
.banner__description{
    font-size:1rem ;
    font-weight: 600 ;
    color:var(--color-dark-1) ;
    padding: 1rem 0;
}
.button__banner{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.banner-img-1{
    position:relative ;
    top: 10vw;
}
.banner-img-2{
    position: relative;
    top: -15vw;
    left: 1vw;
    width: 90%;
}

/* banner style end here  */
/* brand section style code start here  */
.brand-section{
    margin: 1rem 6rem;
}
.brand__container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: center;
    align-items: center;
    gap: 6rem;
    border-bottom: 2px solid #aaaaaaac;
    border-top: 2px solid  #aaaaaaa4;
}
.brand__img{
    size: .5rem;
    align-self: center;
    margin: 2rem 1rem;
    justify-self: center;
}
/* brand section style code start here  */
/* product style section is start here */
.price::before{
    content: "$";
}

.product__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

/* responsive web site style code start here  */
@media screen and (max-width:600px) {

    html{
        font-size: 48.5%;
    }
   
    .nav-container,
    .banner-section{
        flex-direction: column;
    }
    .banner-img-2{
        top: -35rem;
        width: 90%;
    }
    .banner-section{
        height: auto;
    }
   
    .brand__container{
        grid-template-columns: repeat(4,1fr);
    }
      
    .brand-section{
        margin: 0 1rem;
    }
  

}
/* responsive web site style code end here  */




